<!-- 로드를 해줘야 스태틱 태그 사용 가능 -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static "articles/style.css" %}">
</head>
<body>
  <!-- 스태틱 파일을 가져올때는 스태틱 태그를 사용해야함. -->
  <img src="{% static "articles/sample-1.png" %}" alt="설명">
  <img src="{% static "sample-2.png" %}" alt="바깥쪽 주소">
  <h1>INDEX</h1>
  <a href="{% url 'articles:create' %}">CREATE</a>
  <hr>
  {% for article in articles %}
    <p>글 번호 : {{ article.pk }}</p>
    <a href="{% url "articles:detail" article.pk %}">
      <p>글 제목 : {{ article.title }}</p>
    </a>
    <p>글 내용 : {{ article.content }}</p>
    <hr>
  {% endfor %}
</body>
</html>
